<!DOCTYPE html>
<html lang="bg">
  <head>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
      name="viewport"
    />

    <meta name="description" content="Тест" />
    <meta name="keywords" content="Тест" />
    <meta name="og:url" content="" />

    <meta name="og:type" content="site" />
    <meta name="og:title" content="Тест" />
    <meta name="og:description" content="Тест" />
    <meta name="og:image" content="medium.jpg" />

    <link rel="stylesheet" href="/assets/css/style.css" />
    <script src="/assets/js/jquery.js"></script>
    <title>Тест</title>
  </head>
  <body>
    <div id="wrapper">
      <header id="main-header">
        <nav>
          <ul>
            <li><a href="#home">Начало</a></li>
            <li><a href="#subjects">Предмети</a></li>
            <li><a href="#apps">Приложение</a></li>
            <li><a href="#register">Вход</a></li>
          </ul>
        </nav>
      </header>
      <section id="home">
        <div class="content">
          <div class="search-container">
            <h2>По какво искаш да решаваш тестове?</h2>
            <div class="search-wrapper">
              <input type="text" id="search" />
              <button class="btn">търси</button>
            </div>
          </div>

          <div class="left-lady">
            <img src="/assets/images/left_lady.png" />
          </div>
          <div class="right-lady">
            <img src="/assets/images/right_lady.png" />
          </div>
        </div>
      </section>
      <section id="subjects">
        <div class="content">
          <h2>ИЗБЕРИ СИ ПРЕДМЕТ И КЛАС</h2>
          <div class="join-box">
            <div class="text">
              Избери от всички предмети и се упражнявай за матурите след 7 и 12
              клас.
            </div>
            <a href="#" class="btn">Опитай сега</a>
          </div>
        </div>
        <div class="diagram-woman">
          <img src="/assets/images/woman_diagram.png" />
        </div>
      </section>
      <section id="apps">
        <h2>Прави тестове от мобилния ап или уеб</h2>
        <div class="content">
          <a href="#" class="btn">Опитай сега</a>
          <div class="apps-container">
            <a href="#"
              ><img alt="Hand" src="/assets/images/ic_android.png"
            /></a>
            <a href="#"><img alt="Hand" src="/assets/images/ic_apple.png"/></a>
          </div>
        </div>
        <img
          class="hand-phone"
          alt="Hand"
          src="/assets/images/hand_phone.png"
        />
        <img
          class="details-right"
          alt="Details"
          src="/assets/images/details_right.png"
        />
      </section>
      <section id="progress">
        <div class="content">
          <h2>СЛЕДИ ПРОГРЕСА СИ</h2>
          <div class="text">
            Следи прогреса си и учи с лекота. Печели бонус точки и пр...
          </div>
          <a href="#" class="btn">Опитай сега</a>
        </div>
        <div class="progress-image">
          <img alt="Diagram" src="/assets/images/man_diagram.png" />
        </div>
        <img
          class="details-left"
          alt="Details"
          src="/assets/images/details_left.png"
        />
      </section>
      <section id="about">
        <h2>ЗАЩО ДА СЕ УЧИШ С НАС?</h2>
        <div class="content">
          <div class="box">
            <div class="img">
              <img alt="User Friendly" src="/assets/images/ic_heart.png" />
            </div>
            <div class="text">Лесно за използване - user friendly</div>
          </div>
          <div class="box">
            <div class="img">
              <img alt="Tests" src="/assets/images/ic_test.png" />
            </div>
            <div class="text">Тестове от учители, подготвящи за матури</div>
          </div>
          <div class="box">
            <div class="img">
              <img alt="Devices" src="/assets/images/ic_devices.png" />
            </div>
            <div class="text">Използвай на всякакви устройства</div>
          </div>
        </div>
      </section>
      <section id="prices">
        <h2>АБОНАМЕНТИ</h2>
        <div class="content">
          <div class="box">
            <div class="name">Персонален <span class="personal"></span></div>
            <div class="price-holder">20 лв <span>/месец</span></div>
            <ul>
              <li>2 души</li>
              <li>1 предмет</li>
              <li>неограничен достъп</li>
            </ul>
            <a href="#" class="btn">Избери</a>
          </div>
          <div class="box optimum-plan">
            <div class="name">Оптимум <span class="optimum"></span></div>
            <div class="price-holder">50 лв <span>/месец</span></div>
            <ul>
              <li>2 души</li>
              <li>2 предмета</li>
              <li>неограничен достъп</li>
            </ul>
            <a href="#" class="btn">Избери</a>
          </div>
          <div class="box">
            <div class="name">Неограничен <span class="infinity"></span></div>
            <div class="price-holder">150 лв <span>/месец</span></div>
            <ul>
              <li>неограничени клиенти</li>
              <li>неограничени предмети</li>
              <li>неограничен достъп</li>
            </ul>
            <a href="#" class="btn">Избери</a>
          </div>
        </div>

        <img
          class="details-left"
          alt="Details"
          src="/assets/images/details_left.png"
        />
        <img
          class="details-right"
          alt="Details"
          src="/assets/images/details_right.png"
        />
      </section>
      <section id="register">
        <div class="content">
          <h2>ИЗБЯГАЙ ОТ СКУЧНИТЕ ХАРТИЕНИ ТЕСТОВЕ</h2>
          <a href="#" class="btn">Регистрирай се</a>
          <img src="/assets/images/papers.png" />
        </div>
      </section>
    </div>
  </body>
</html>
