.content {
  margin-top: 84px;
  min-height: 100vh;
}

.wrapper {
  background-image: url('/assets/images/login-bg.png');
  background-color: #f0f0f0;
  background-size: contain;
  background-position: 100% 50%;
  background-repeat: no-repeat;
}
